
<div class="ui centered grid">
  <div class="eight column wide">

    <div id="welcome" class="ui two column middle aligned centered grid">
      <div class="column">
        <div class="welcome">
          <div class = "intro">Unleash your Creativity</div>

          <div class = "pikq">PikQ</div>
        </div>
      </div>
      <div class="row"></div>

      <div class="two column centered row">
        <div class="column">
          <div class="two ui large equal width buttons">
            <%= link_to new_post_path, class: "ui purple large button" do %>
              <i class="photo icon"></i>Get Started!
            <% end %>
            <%= link_to posts_path, class: "ui teal large button" do %>
              <i class="image icon"></i>Gallery
            <% end %>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
