<h1 class="ui centered header">Sign Up</h1>

<%= render partial: 'form' %>

<% if @user.errors.any? %>
<div class="ui two column centered grid">
  <div class="column">
    <div class="ui error message">
      <i class="close icon"></i>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
