<h1>Pages#app</h1>
<p>Find me in app/views/pages/app.html.erb</p>


<canvas id="my_canvas" width='640' height='480'>
</canvas>
<canvas id="c" width="640" height="480"></canvas>

<button id='pencil'>Pencil</button>
