<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<div class="ui two column centered grid" id="webcamjs">

  <div id="my_camera"></div>

  <div id="pre_take_buttons">
    <button>Take Snapshot</button>
  </div>

  <div id="post_take_buttons" style="display:none">
    <button id="cancel">Cancel Preview</button>
    <button id="save">Save Photo</button>
  </div>

</div>


<div class="ui two column centered grid" id="editor_ui" style="display:none">


  <div id="menu" class="ui ten column grid">
    <div class="column">
      <button class="ui button" id ='Clear'><i class="trash outline icon"></i>Clear </button>
    </div>
    <div class="column" id ='Save' >
      <button class="ui button"><i class="save icon"></i>Save </button>
    </div>
    <div class="column" id ='upload' >
      <button class="ui button"><i class="cloud upload icon"></i>upload</button>
    </div>
    <div class="column" id ='Camera'>
      <button class="ui button"><i class="camera retro icon"></i>Camera</button>
    </div>
  </div>

  <div id="functions">Pizza</div>
  <!-- <div id="filter">
    <div class="ui checkbox" >
      <input type="checkbox" id='Grayscale'>
      <label >Grayscale</label>
    </div>
  </div> -->
  <canvas id="my_canvas"></canvas>

  <div class="ui three column grid">
    <div class="column">
      <div class="ui two column grid">
        <div class="column">
          <div class="ui vertical icon menu">
            <a class="active item" data-tab="first"><i class="gamepad icon"></i></a>
            <a class="item" data-tab="second"><i class="gamepad icon"></i></a>
            <a class="item" data-tab="third"><i class="gamepad icon"></i></a>
          </div>
        </div>
        <div class="stretched column">
          <div class="ui active tab segment" data-tab="first">
            First
          </div>
          <div class="ui tab segment" data-tab="second">
            Second
          </div>
          <div class="ui tab segment" data-tab="third">
            Third
          </div>
        </div>
        </div>
      </div>
      <div class="column"></div>
      <div class="column"></div>
    </div>




  <canvas id="my_canvas"></canvas>
  <!-- <img id="my-image" src="http://i.imgur.com/uBO2Not.png" alt=""> -->

</div>

  <div class="ui three column grid">
    <div class="column">
      <div class="ui two column grid">
        <div class="column">
          <div class="ui vertical icon menu">
            <a class="active item" data-tab="first"><i class="gamepad icon"></i></a>
            <a class="item" data-tab="second"><i class="gamepad icon"></i></a>
            <a class="item" data-tab="third"><i class="gamepad icon"></i></a>
          </div>
        </div>
        <div class="stretched column">
          <div class="ui active tab segment" data-tab="first">
            First
          </div>
          <div class="ui tab segment" data-tab="second">
            <div class="ui mini bordered circular images">
              <img id="sticker1" class="ui image" src="http://i.imgur.com/OmwdQK3.png">
              <img id="sticker2" class="ui image" src="http://i.imgur.com/OmwdQK3.png">
              <img id="sticker3" class="ui image" src="http://i.imgur.com/OmwdQK3.png">
              <img id="sticker4" class="ui image" src="http://i.imgur.com/OmwdQK3.png">
              <img id="sticker5" class="ui image" src="http://i.imgur.com/OmwdQK3.png">
              <img id="sticker6" class="ui image" src="http://i.imgur.com/OmwdQK3.png">
              <img id="sticker7" class="ui image" src="http://i.imgur.com/OmwdQK3.png">
              <img id="sticker8" class="ui image" src="http://i.imgur.com/OmwdQK3.png">
            </div>
          </div>
          <div class="ui tab segment" data-tab="third">
            <h4>Text</h4>
            <div id="text-params">
              Color: <input id="font-colour" type="color">
              fontSize:<span>48</span>
              <input id="font-size" type="range" min="12" max="96" value="48" >
              <button class="ui teal button">Add</button>
            </div>






          </div>
        </div>
        </div>
      </div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
