<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<div id="webcamjs">

  	<div id="my_camera"></div>
  	<!-- <div id="my_result"></div> -->


    <div id="pre_take_buttons">
      <button>Take Snapshot</button>
    </div>
    <div id="post_take_buttons" style="display:none">
      <button id="cancel">Cancel Preview</button>
      <button id="save">Save Photo</button>
    </div>


    <canvas id="my_canvas" width='640' height='480'>

    </canvas>
    <canvas id="c" width="640" height="480"></canvas>

    <button id='pencil'>Pencil</button>

</div>
