
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

body {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010f38+0,7832d2+100 */
  background: #010f38; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #010f38 0%, #7832d2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #010f38 0%,#7832d2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #010f38 0%,#7832d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010f38', endColorstr='#7832d2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.welcome {
  text-align: center;
  font-size: 25vh;
}


.holder {
  height: 500px;
}

.holder .middle {
  height: 100%;
}
