@import "semantic-ui";

body {
  background: linear-gradient(229deg, #b5cc18, #f2711c);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:55% 0%}
      50%{background-position:46% 100%}
      100%{background-position:55% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:55% 0%}
      50%{background-position:46% 100%}
      100%{background-position:55% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:55% 0%}
      50%{background-position:46% 100%}
      100%{background-position:55% 0%}
  }
}

.welcome {
  text-align: center;
  font-size: 25vh;
}


.holder {
  height: 500px;
}

.holder .middle {
  height: 100%;
}
